// FIXME pn-progress-bar has a defined with (300px) and the UploadMaterialComponent need to use 100%
// need to confirm if this is the best way to change holistic components styles since component level style doesn't work
pn-progress-bar {
  .pn-progress-container {
    min-width: unset;
  }
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;

  pn-button-container {
    width: 14em;
  }
}

.custom-checkbox-container {
  margin-top: 3em;
  padding: 1.4em 1em;
  box-sizing: border-box;
  border: 1px solid $grey-04-concrete;
  display: flex;
  justify-content: space-between;
}

.button-container {
  margin-top: 3.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;

  pn-button-container {
    width: 70%;
    max-width: 15em;
    min-width: 0;

    &:first-child {
      margin-right: 0.5em;
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }
}

.custom-checkbox-container {
  margin-top: 3em;
  padding: 1.4em 1em;
  box-sizing: border-box;
  border: 1px solid $grey-04-concrete;
  display: flex;
  justify-content: space-between;
}

.spinner-container {
  margin: 3.2rem 0 3.2rem;

  pn-spinner {
    display: block;
  }
  .pn-spinner-medium {
    margin: 0 auto;
  }
}

.default-blue-text {
  color: $postnord-default;
}

.reference-sample-checkbox {
  border: solid 0.01em $grey-04-concrete;
  width: 100%;
  height: auto;

  pn-help-tooltip {
    margin: auto;
  }

  .checkbox-container {
    padding: 0rem 1.4rem;

    .checkbox-square {
      margin: auto 0rem;
    }

    .checkbox-label {
      padding: 1.5rem 1rem;
      p,
      span {
        font-size: 1.2em !important;
      }
    }
  }

  label {
    display: none;
  }
}

.no-border-checkbox {
  pn-checkbox-container {
    .checkbox-container {
      label {
        a {
          color: $postnord-default;
          text-decoration: none;
        }
      }
    }
  }
}

.store-info-text {
  color: $grey-06-rock;
}

.store-info-link {
  color: $postnord-default;
}
.transaction-page {
  @at-root div.approve-page.send-service-page {
    padding: 0;
  }
}

.font-format-warning {
  .pn-help-tooltip-content {
    word-wrap: break-word;
  }
}
